			else if(action.equals("login")){
				boolean _result = false;
				try {
					_result = users.login((String) param.get("user_id"), (String) param.get("password"));
				} catch (Exception e) {
					_result = false;
				}
				out.print("{ result: " + _result + "}");
			}
